.footer {
    padding: 48px 0;
    background-color: var(--green);
    color: white;
    text-align: left;
    font-size: 0.875rem;
  
    &__content {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;

    }

    a {
      cursor: pointer;
      color: #ffffff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;;
      }
    }

    ul {
      list-style: none;
      padding: 0;

      li {

      }
    }
}
  