.header {
  text-align: right;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.4s ease, color 0.4s ease, box-shadow 0.4s ease;

  &.sticky {
    background-color: var(--white);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    .navigation {

      &__link {
        color: var(--primary);

        &:before, &:after {
          border: 3px solid var(--primary);
        }

        &:before {
          border-right: none;
          border-bottom: none;
        }
  
        &:after {
          border-left: none;
          border-top: none;
        }
      }
    }

    .language-switcher {
      &__button {
        color: var(--primary);
      }
    }

    .hamburger {

      &__line {
          background-color: var(--primary);
      }
    }
  }

  &__logo {
      margin: 8px 0 0 16px;
      padding: 8px 0;

    @media only screen and (min-width: 476px) {
      padding: 16px 0;
      margin: 0;
    }
  }

  .nav__wrapper {
    display: none;

    @media only screen and (min-width: 769px) {
      display: block;
    }
  }

  .navigation {
    display: flex;

    &__list {
      display: flex;
      font-family: 'TruenoBold';
      font-size: 1rem;
      text-transform: uppercase;
      margin-bottom: 0;
    }

    &__item {
      list-style: none;
      padding: 0 24px;
    }

    &__link {
      color: var(--white);
      text-decoration: none;
      position: relative;

      &:before, &:after {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        border: 3px solid var(--white);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
      }

      &:before {
        top: -4px;
        left: -10px;
        border-right: none;
        border-bottom: none;
      }

      &:after {
        content: "";
        bottom: -4px;
        right: -12px;
        border-left: none;
        border-top: none;
      }

      &:hover, &:focus, &.active {
        &:before, &:after {
          opacity: 1;
      }
    }
  }

    li:last-child {
      padding-right: 0;
    }
  }
}

.site-navbar-wrap {
  position: absolute;
  z-index: 99;
  width: 100%;
  left: 0;
}

@media only screen and (min-width: 769px) {
  .hamburger {
    display: none;
  }
}