.language-switcher {
  font-family: "TruenoBold";
  font-size: 1rem;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  }
  
  .language-switcher__button {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .language-switcher__button:hover {
    color: var(--secondary);
  }
  
  .language-switcher__dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    border-radius: 0px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index: 100;
    padding: 0px 0;
    width: 50px;
  }
  
  .language-switcher__dropdown li {
    padding: 5px 10px;
    cursor: pointer;
    color: var(--primary);
    text-align: left;
    list-style: none;
    transition: background 0.3s ease;
  }
  
  .language-switcher__dropdown li:hover {
    background: var(--lightgrey);
  }
  
  .language-switcher__dropdown .active {
    font-weight: bold;
    color: var(--secondary);
  }
  