.work-item {
    position: relative;
  
    &__image-container {
      position: relative;
      overflow: hidden;
      width: 100%;
      padding-top: 100%;
    }
  
    &__image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease;
    }
  
    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(22, 167, 169, 0.7);
      border: 10px solid rgba(255,255,255,0.7);
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: opacity 0.3s ease;
    }
  
    &__overlay-content {
      text-align: center;
      color: var(--white);
      padding: 50px;
  
      h3 {
        font-size: 1.5rem;
        text-transform: uppercase;
        font-family: 'TruenoBlack';
      }
  
      .work-item__link {
        color: var(--white);
        cursor: pointer;
        transition: background-color 0.3s ease;
        text-decoration: none;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 16px;
        text-transform: uppercase;
        font-family: 'TruenoLight';
      }
  
      .work-item__link:hover {
        text-decoration: underline;
      }
    }
  
    &:hover .work-item__image {
      transform: scale(1.1);
    }
  
    &:hover .work-item__overlay {
      opacity: 1;
    }
  }
  