//fonts
@import url('https://fonts.cdnfonts.com/css/trueno');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

$header-font: 'Trueno', sans-serif;
$body-font:  'Libre Baskerville', serif;

:root {
    --green: #0c8487;
    --darkgrey: #282828;
    --white: #ffffff;
    --lightgrey: #f5f5f5;
}